/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Start Here */
.container {
	max-width: 1024px;
  margin: 0 auto;
}

@media(max-width: 800px){
  .container {
    max-width: 90%;
    margin: 0 auto
  }
}

@media(max-width: 500px){
  .container {
    max-width: 95%;
    margin: 0 auto
  }
}

.header {
	display: flex;
	width: 100%;
	align-items: center;
  justify-content: space-between;
  margin-top: 25px;
	margin-bottom: 50px;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 25px
  }
}


@media(max-width: 500px){
  .header {
    flex-direction: column-reverse;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}

nav {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

nav a {
	color: gray;
	font-size: 18px;
	text-decoration: none;
}

@media (max-width: 800px){
  nav {
    margin-top: 50px;
    width: 100%;
    justify-content: space-evenly;
  }
  .circle {
    display: none;
  }
}

@media (max-width: 500px){
  nav {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
  }
  nav a {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }
  .navs {
    padding: 20px
  }
  #services {
    border-top: 1px solid black
  }
}

@media(max-width: 500px){
  .logo {
    margin-top: 15px;
  }
}

.services-header-img {
  width: 100%;
}

.service-p {
  margin-bottom: 50px;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  margin-top: 25px;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}

.digital-design {
  border: 1px solid black;
  background-color: lightgray;
  line-height: 1.2;
  width: 45%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

.ux-ui {
  border: 1px solid black;
  background-color: lightgray;
  line-height: 1.2;
  width: 45%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

.digital-marketing {
  border: 1px solid black;
  background-color: lightgray;
  line-height: 1.2;
  width: 45%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

.web-dev {
  border: 1px solid black;
  background-color: lightgray;
  line-height: 1.2;
  width: 45%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

.ios-dev {
  border: 1px solid black;
  background-color: lightgray;
  line-height: 1.2;
  width: 45%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

.android-dev {
  border: 1px solid black;
  background-color: lightgray;
  line-height: 1.2;
  width: 45%;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

button {
  border-radius: 4px;
  height: 25px;
  width: 100px;
  margin-top: 8px;
}

.footer {
  display: flex;
}

@media(max-width: 800px){
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer h3 {
    margin-top: 25px;
  }
}

.picture {
  display: flex;
}

@media(max-width: 800px){
  .services-info-img-2 {
    width: 100%;
  }
}

.services-header-img-2 {
  width: 15%;
}

ul li {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1.2;
}

p {
  line-height: 1.2;
}

.copyrite {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
}

@media(max-width: 800px){
  .copyrite {
    margin-bottom: 25px;
  }
}